<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.niluogege.example.module_user">

    <application>
        <activity
            android:name=".mvp.ui.business.setting.activity.SettingActivity"
            android:screenOrientation="portrait">
        </activity>

    </application>
</manifest>
